@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');

*{
    font-family: 'Barlow Condensed', sans-serif;
}

#bodyhome{
    background: url(../img/Background\ -\ Home\ Page\ -\ Opcao\ 2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#bodyconteudos{
    background: url(../img/Background\ -\ Conteudo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#container{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

#logo{
    font-size: 45px;
    color: #01fd6d;
    width: 350px;
}

#logo img{
    width: 350px;
}

#nav ul{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 5px;
    width: 150px;
    text-align: center;
    border: 2px solid #01fd6d;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: 900;
}

#nav ul li a:hover{
    color: #01fd6d;
    border: 2px solid #fff;
}

.busca{
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    width: 265px;
}


.botaobusca{
    font-size: 24px;
    border:0;
    background-color: #01fd6d;
    border-radius: 2px;
    color: #fff;
    font-weight: bolder;
    margin-left: 4px;
    cursor: pointer;
}

.botaobusca:hover{
    color: #000;
}

main{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height:83vh;
    width: 90%;
    margin: 0 auto;
}

#titulo{
    font-size: 50px;
}

h1{
    margin:0;
    font-weight: 900;
    font-size: 150px;
}

h2{
    margin: 0;
    padding: 0;
    font-weight: 0;
}

main p{
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 200;
    width: 840px;
}


#saiba{
    margin-left: 35px;
    width: 300px;
    text-align: center;
    margin-bottom: 0;

}

#saiba:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

#saiba a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
}

footer{
    color: white;
    text-align: end;
    margin-top: auto;
    height: auto;
    right: 0;
    bottom: 0;
    display: block;
}

#footerhome{
    position: absolute;
    bottom: 3px;
    right: 5px;
    display: flex;
}



/*  PAGINA CONTEUDOS */

#conteudos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    height: 40vw;
    margin-top: 70px;
    margin-top: 0;
}

.cont{
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.link{
    color: #01fd6d;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 10px;
}

.cont img{
    width: 200px;
    margin: 0;
    padding-bottom: 30px;
}

.cont2 img{
    width: 160px;
}

#footercont{
    margin-top: 39px;
    margin-right: 6px;
}

.cont:hover a{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.cont:hover{
    /*border: 2px solid #01fd6d; */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}


/*      PÁGINA CONTATO */

.equipe{
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.e1{
    margin-top: 30px;
}

.equipe h1{
    font-size: 2vw;
}

.equipe h3{
    color: #01fd6d;
    font-size: 1.5vw;
}

.equipe img{
    width: 8vw;
}

#email{
    color: white;
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
    display: block;
    align-items: center;
}

.email a{
    color: #fff;
    text-decoration: none;
}

#cont1{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}


/* CRITPOATIVO */

#bodyconteudo{
    background-color: #fff;
}

#cabecalho{
    height: auto;
    margin-top: 0;
    background-image: url(../img/Background\ -\ Home\ Page\ -\ Opcao\ 1\ \(1\).png);
    border-bottom: 5px solid #01fd6d;
}

#titulotema{
    color: #01fd6d;
    display: block;
    text-align: center;
}

#titulotema h1{
    font-weight: 500;
    font-size: 7vw;
}

#conteudo{
    margin-top: 50px;
    width: 60%;
    text-align: justify;
    display: block;
    height: auto;
}

#conteudo h2{
    margin: 0;
    padding: 0;
    color: #01fd6d;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

#conteudo p{
    margin-bottom: 50px;
    padding: 0;
    width: auto;
    color: #000;
    font-size: 30px;
}

#conteudo img{
    width: 10vw;
    margin: 0 auto;
    display: block;
}

footer p{
    color: #000;
}

#espacamento{
    height: 100px;
}

@media only screen and (max-width:1750px){
    #conteudos{
        height:730px;
    }
}


@media only screen and (max-width:1485px){
    nav{
        width: 95%;
    }

    #conteudos{
        height: 70%;
        flex-wrap: wrap;
        flex-direction: flex;
        margin-top: 10px;
    }

    .cont{
        width: 30vw;
        height: 300px;
        display: flex;
        flex-direction: column;
    }

    .cont img{
        width: 200px;
        text-align: center;
        padding: 15px;
        border-radius: 20px;
    }

    .cont2 img{
        width: 150px;
        padding: 40px;
    }

    .link{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .cont:hover{
        background: none;
    }

    .cont img:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }

    #nav ul{
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .equipe h3{
        font-size: 2vw;
        margin-top: 7px;
    }

    .equipe img{
        width: 10vw;
    }
}


@media only screen and (max-width:1364px){
    
    header{
        height: 220px;
    }
    
    
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }

    #logo{
        margin-bottom: 20px;
        width: auto;
    }

    #nav{
        margin-bottom: 20px;
    }

    #home{
        height: 50vh;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 50px auto 50px;
    }
    

    #titulo {
        margin-top: 20px;
    }

    #titulo h1{
        font-size: 10vw;
    }

    #titulo p{
        font-size: 3vw;
    }

    footer{
        margin-bottom: 0;
        margin-top: 59px;
    }


    #saiba{
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        height: 100px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        width: 35%;
        margin-top: 50px;

    }

    #saiba a{
        width: 100%;
        font-size: 1em;
        text-align: center;
        padding: 20px;
    }

    #conteudos{
        margin-top: 20px;
    }

    #conteudos a{
        font-size: 3vw;
    }

    .equipe{
        width: 50%;
        margin-top: 100px;
    }

    .equipe h1{
        font-size: 4vw;
    }

    .equipe img{
        width: 12vw;
    }

    .equipe h3{
        font-size: 2vw;
    }

    #email{
        margin-top: 80px;
    }

    #conteudo{
        width: 80%;
    }

    #titulotema h1{
        font-size: 10vw;
        margin-top: 20px;
    }

    #conteudo h2{
        font-size: 5vw;
    }

    #conteudo p{
        font-size: 3vw;
    }

    #conteudo section img{
        width: 50%;
    }

    #bodyconteudos{
        overflow: scroll;
    }

    #cont1{
        height: 100%;
    }

    #conteudos{
        height: 100%;
    }

    main{
        height: 100%;
    }
}

@media only screen and (max-width:900px){
    header{
        width: 100%;
        height: 200px;
    }

    nav{
        height: 200px;
        justify-content: space-evenly;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #nav{
        margin-bottom: 5px;
    }

    #nav ul{
        justify-content: center;
    }

    nav ul li{
        margin-bottom: 5px;
        margin-left: 30px;
    }

    #logo{
        margin-bottom: 3px;
    }

    #home{
        margin-top: 50px;
        height: 54.5vh;
    }

    #saiba{
        width: 40%;
        margin-top: 50px;
    }
    
    #saiba a{
        font-size: 1em;
    }

    #titulo h1{
        font-size: 100px;
    }

    #titulo p{
        width: 80%;
        margin: 0 auto;
    }

    footer{
        margin-top: 38px;
    }

    .cont{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .cont a{
        font-size: 5vw;
    }

    #conteudos a{
        font-size: 6vw;
        margin-bottom: 20px;
    }

    .cont img{
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50px;
    }

    .cont2 img{
        padding: 40px;
    }

    #conteudo h2{
        font-size: 7vw;
    }

    #conteudo p{
        font-size: 4vw;
    }

    .equipe{
        width: 70%;
    }

    .equipe img{
        width: 20vw;
    }

    .equipe h1{
        font-size: 6vw;
    }

    .equipe h3{
        font-size: 3vw;
    }

    #email{
        font-size: 5vw;
    }

}

@media only screen and (max-width:700px){
    
    header{
        margin-top: 0;
        height: 300px;
        width: 100%;
    }

    #home{
        height: 51.5vh;
        margin-bottom: 0;
        margin-top: 20px;
    }

    footer{
        margin-top: 95px;
    }

    #nav{
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    
    nav{
        height: 280px;
        width: 100%;
    }
    
    #nav ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    nav ul li{
        text-align: center;
        width: 60%;
        text-align: center;
        margin: 0px auto 10px;
    }

    #nav ul li a{
        width: 100%;
    }


    #saiba{
        width: 40%;
    }

    #titulo{
        margin-top:0px;
    }

    #titulo h1{
        font-size: 10vw;
        margin-bottom: 10px;
    }

    #titulo p{
        margin-top: 20px;
        font-size: 4vw;

    }


    #logo{
        margin:  0 auto;
        font-size: 6vh;
        text-align: center;
    }

    .equipe h1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .equipe{
        width: 70%;
        height: auto;
        margin-bottom: 10px;
    }

    .equipe img{
        width: 16vw;
    }

    .equipe h1{
        font-size: 5vw;
    }

    .equipe h3{
        font-size: 3vw;
    }

    #email:first-child{
        font-size: 30vw;
    }
    #email:last-child{
        font-size: 5vw;
    }

    .equipe{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .equipe img{
        width: 25vw;
    }

    .equipe h1{
        font-size: 10vw;
    }

    .equipe h3{
        font-size: 4vw;
    }

    #email{
        margin-top: 0;
        padding: 50px;
    }
    #conteudo h2{
        font-size: 7vw;
    }

    #conteudo p{
        font-size: 5vw;
    }
}


@media only screen and (max-width:515px){

    #titulo{
        font-size: 6vw;
    }

    #saiba{
        width: 50%;
    }
    
    #saiba a{
        font-size: 1em;
    }
    #titulo{
        font-size: 30px;
        margin-top: 80px;
    }

    #home p{
        font-size: 25px;
        margin-top: 20px;
    }

    #home{
        height: 51.5vh;
    }

    footer{
        margin-top: 95px;
    }

    #conteudo h2{
        font-size: 7vw;
    }

    #conteudo p{
        font-size: 5vw;
        height: 650px;
    }

    #conteudo section p{
        height: auto;
    }

    .equipe{
        width: 100%;
    }

    .equipe h3{
        font-size: 5vw;
    }

    #email{
        font-size: 6vw;
    }
    
}

@media only screen and (max-width:410px){
    
    header{
        height: 330px;
    }

    #logo{
        margin-bottom: 0px;
        margin-top: 30px;
        width: auto;
    }
    
    nav{
        height: 300px;
    }

    #nav ul li{
        margin: 5px auto 0px;
        width: 100%;
    }

    #nav ul li a{
        margin: 0 auto;
        width: 60%;
    }

    
    #saiba{
        width: 70%;
    }

    #home{
        margin-top: 0;
        margin-bottom: 0;
    }

    #titulo{
        font-size: 30px;
        margin-top: 0;
    }

    #titulo h1{
        font-size: 14vw;
    }

    #titulo p{
        font-size: 5vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #home{
        margin-top: 50px;
    }

    #busca{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .busca{
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
    }


    .botaobusca{
        margin: 6px auto 0;
        width: 50%;
    }
    #saiba{
        margin-top: 10px;
    }

    footer{
        margin-top: 85px;
    }
}

@media only screen and (max-width:370px){
    
    #logo{
        width: 90%;
    }

    #logo img{
        width: 100%;
    }
    
    #titulo{
        font-size: 7vw;
        margin-top: 50px;
    }
    #home p{
        font-size: 4vh;
    }
    
    footer{
        margin-top: 110px;
    }
}



