body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #000000;
	padding: 20px 0;
}

/*cria uma caixa com limite para os elementos*/
.caixa {
	position: relative;
	width: 1080px;
	margin: 0 auto;
}

/*comando para alinhar a posição dos botões à direita na barra*/
nav {
	position: absolute;
	top: 60px;
	right: 0;
	display: flex;

}

.busca{
	margin-left: 15px;
	border-radius: 4px;
}

.botaobusca{
	background-color: transparent;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	height: auto;
	margin-left: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.botaobusca:hover{
	background-color: white;
	color: black;
}

/*comando para alinhar a posição dos botões lado a ladao na barra*/
nav li {
	display: inline;
	margin: 0 0 0 15px;	
}

/*formatação dos botões da caixa*/
nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

/*sublinhado branco*/
nav a:hover{
	color: white;
	text-decoration: underline;
}

/*limite da caixa para os itens da pagina conteudos*/
.conteudos {
	width: 1080px;
	margin: 0 auto;
	padding: 35px 0;
}

/*alinhar os itens da pagina conteudos*/
.conteudos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing:  border-box;
	border: 5px solid white;
	border-radius: 20px;
}

/*borda em volta dos itens da página de conteudos*/
.conteudos li:hover {
	border-color: black;
}

/*borda em volta dos itens da página de conteudos*/
.conteudos li>active{
	border-color: black;
}

/*aumenta fonte do título ao passar o mouse da pagina conteudo*/
.conteudos li:hover h2{
	font-size: 28px;
}

/*formatação da fonte dos itens da página de conteudos*/
.conteudos h2 {
	font-size: 25px;
	font-weight: bold;
}

/*formatação da fonte da descrição dos itens da página de conteudos*/
.conteudo-descricao {
	font-size: 18px;
}

/*formatação da fonte da sub-descrição dos itens da página de conteudos*/
.conteudo-preco {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

/*configs do rodapé*/
footer {
	text-align: center;
	background: #000000;
	padding: 10px 0;
	color: White;
}

/*formatação copyright no rodapé*/
.copyright {
	color: White;
	font-size: 10px;
	margin: 20px;
	/*text-align: left;
	vertical-align: center;

	position: relative;
	width: 1080px;*/
}


form {
	margin: 40px 0;
}

/*exemplo para utilização
form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: 50%;
}*/

/*exemplo checkbox para envio de e-mail ao time
.checkbox {
	margin: 20px 0;
}
*/

/*exemplo botão enviar para enviar e-mail
.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}


table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td,th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/*CSS DA PAGINA INICIAL*/

/*leiaute do "sobre" da página*/
.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left	;
/*opacidade em títulos também -> color: rgba(0,0,0,0.3)*/
}
.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 1080px;
	margin: 0 auto;
}
.principal p {
	margin: 0 0 1em;
}
.principal strong {
	font-weight: bold;
}
.principal em {
	font-style: italic;
}

/*formatação do sobre da página home*/
.sobre {
	width: 500px;
	float: left;
	margin: 0 20px 20px;
}

/*formatacoes da caixa do mapa*/
.mapa {
	padding: 3em 0;
	/*background: linear-gradient(#FEFEFE, #0C223A);
	*/
}
.mapa p {
	margin: 0 0 2em;
	text-align: center;
}
.mapa-conteudo {
	width: 1080px;
	text-align: center;
	margin: 0 auto;
}

/*formatacao de conteudo das inspiracoes*/
.inspiracoes {
	padding: 1em 0;
	background: white;
	color: black;
}
.conteudo-inspiracoes {
	width: 600px;
	margin: 0 auto;
	color: black;
}
.lista-inspiracoes {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
.itens {
	line-height: 2.3;
}
/*.itens:first-child {
	font-weight: bold;
}
*/
.itens:before {
	content: "★";
}
.imagem-inspiracoes {
	width: 45%;
	opacity: 1;
	transition: 200ms;
	/*box-shadow: 0px 0px 20px black;*/
}
/*esmaece a imagem de inspirações da tela home*/
.imagem-inspiracoes:hover {
	opacity: 0.3;
}

/*formatacoes para inserir video na pagina*/
.video {
	width: 640px;
	margin: 6em auto;
}
@media screen and (max-width: 1400px){
	.caixa, .principal, .conteudo-inspiracoes, .mapa-conteudo{
		width: auto;
	}

	.principal, .conteudo-inspiracoes, .mapa-conteudo{
		width: 80%;
	}

	.principal{
		display: flex;
		flex-direction: column;
	}
	.principal img{
		margin: 0 auto 20px;
	}

	.principal p{
		text-align: center;
	}

	h1 {
		text-align: center;
	}

	.lista-inspiracoes{
		width: 100%;
		text-align: center;
	}
	.imagem-inspiracoes{
		width: 50%;
		margin: 0 auto;
		display: block;
	}

	.caixa{
		width: 80%;
		display: flex;
	}
	
}

@media screen and (max-width:1276px){
.caixa, .principal, .conteudo-inspiracoes, .mapa-conteudo, .video {
	display: flex;
	flex-direction: column;
	text-align: center;
	}

	header{
		width: 100%;
	}

	.sobre{
		width: 70%;
		margin: 0 auto 20px;
	}

	.principal img{
		margin: 0 auto 20px;
	}

	.principal p{
		margin: 0 50px;
	}

	.imagem-inspiracoes{
		width: 60%;
		margin: 0 auto;
	}

	.caixa{
		width: 80%;
		display: flex;
		flex-direction: column;
	}

	nav{
		position: static;
		margin: 10px 0;
		display: flex;
		flex-direction: column;
		width: 60%;
		margin: 0 auto;
		height: auto;
	}


	.busca{
		width: 50%;
		margin: 0 auto;
		margin-top: 10px;
	}

	.botaobusca{
		width: 25%;
		margin: 0 auto;
		margin-top: 5px;
	}

	.caixa img{
		margin-bottom: 20px;
	}
	
}

@media screen and (max-width:715px){
	.caixa{
		width: 100%;
	}
	.caixa nav{
		width: 55%;
	}

	header{
		width: 100%;
	}

	.video{
		width: 80%;
	}
	
	.botaobusca{
		width: 25%;
	}
}




/* 

!!!!!EXPERIMENTOS!!!!!

*/

